<!DOCTYPE html>
<html>
  <head>
    <title>Fusions</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%= form_for(:session, url: logout_path, method: "delete") do |f| %>
      <%= f.submit "Log Out", class: "btn btn-primary" %>
    <% end %>
  </body>
</html>
